{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>chat bot</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="{% static 'https://code.jquery.com/jquery-3.7.1.js' %}" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

</head>

<body>
  <h1>ChatBot</h1>

  <div>
    <div id="chatbot">
      <p class="bottext"><span>Hi There</span></p>

    </div>

    <div id="userinput">
      <input type="text" id="textinput" name="userMessage" placeholder="Type your message here..." />
      <input type="submit" value="send" id="buttoninput" />
    </div>
  </div>

  <script>
    function usergetresponse() {
      var usertext = $('#textinput').val();
      var userhtml = "<p class='UserText'>User: <span>" + usertext + "</span></p>";
      $('#textinput').val("");
      $('#chatbot').append(userhtml);

      $.get('/blog/getresponse', { userMessage: usertext }).done(function (data) {
        var returnmessage = "<p class='bottext'>Chatbot: <span>" + data + "</span></p>";
        $('#chatbot').append(returnmessage);


      })

    }

    $('#buttoninput').click(function () {
      usergetresponse();

    });
  </script>
</body>

</html>